@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.roomsHero,
.abouthero {
  min-height: calc(100vh - 66px);
  background: url("../assets/img/jpeg/defaultBcg2.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  background-image: url("../assets/img/jpeg/room-2.jpeg");
  min-height: 60vh;
}
.abouthero{
  background-image: url('../assets/img/jpeg/details-4.jpeg');
  min-height: 60vh;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.outerbookbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 0;
}
.outerbookbtn button{
  padding: 3vh 3.5vw;
  background-color: #af9a7d;
  border: 3px solid #f7f7f7;

  transition: all 0.2s ease;
  font-size: 1.3vw;
  color: #f7f7f7;
}
.outerbookbtn button:hover{
  background-color: #cfcfcf;
  border: 3px solid #af9a7d
  ;
  color: #af9a7d;
  cursor: pointer;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 1rem 0;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
  color: var(--mainBlack);
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--mainBlack);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  width: 100%;
  display: block;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  color: #222222;
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* roomList */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomList */
/* rooms filter */
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms filter */

/* footer style */
.footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #222;
}
.footer h2,
p {
  color: white;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: red;
  text-decoration: underline;
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
}

.form-container {
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #4f4a4a7d;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.loginh {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #fff;
}

.formlo {
  display: flex;
  flex-direction: column;
}

.loginlabel {
  margin-bottom: 10px;
  font-size: 18px;
}

.loginin {
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
}

.loginbt {
  padding: 2vh 3vw;
  background-color: #257eaa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
}

.loginbt:hover {
  background-color: #119fca;
}

.logina {
  text-decoration: none;
  color: #257eaa;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
}

.logina:hover {
  color: #119fca;
}

.loginp {
  text-align: center;
  margin: 8px;
}
.containerlogin {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  padding: 18vh 0 5vh 0 ;
  
  background: url('../assets/img/jpeg/room-11.jpeg') no-repeat center fixed;
  background-size: cover;
}

/* booking */
.booking-container {
  margin-top: 2rem;
  padding: 1rem;
  margin: 2vh 0 5vh 0;
  background-color: #af9a7d;
  background: #af9a7d url('../assets/img/jpeg/l11.jpg') no-repeat center fixed;
  background-size: cover;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-container h3 {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.booking-details {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.booking-details h4 {
  margin-bottom: 0.5rem;
  color: #222222;
  
  text-transform: uppercase;
  font-size: 1.45rem;
  font-weight: bolder;
}

.booking-details p {
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 1rem;
}

.booking-inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.booking-inputs label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  font-weight: bolder;
  font-size: 1.5vw;
}

.booking-date-input {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  color: #222;
  transition: border-color 0.3s ease-in-out;
}

.booking-date-input:focus {
  border-color: #222222;
}

.total-cost {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #555;
  padding: 2vh 2vw;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  width: 20%;
  
}
.totalcostc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerbookbtn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.outerbookbtn button {
  padding: 0.8rem 2.2rem;
  font-size: 1rem;
  color: #222;
  background-color: #af9a7d;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.outerbookbtn button:hover {
  background-color: #ececec;
  border: none;
}

.outerbookbtn a {
  color: inherit;
  text-decoration: none;
}

.outerpayment{
  background: #000 url('../assets/img/jpeg/l1.jpg') no-repeat center fixed;
  background-size: cover;
}
.payb{
  background-color: #ffffff7a;
}
.reviews-section {
  margin: 40px 0;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.reviews-section h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.reviews-list {
  margin-bottom: 40px;
}

.review {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.review:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.review h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #222222;
}

.review p {
  margin-bottom: 10px;
  color: #555;
}

.review p:last-child {
  margin-bottom: 0;
}

.review-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-form h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.review-form label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

.review-form input,
.review-form select,
.review-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #333;
}

.review-form textarea {
  resize: vertical;
  min-height: 100px;
}

.review-form button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #af9a7d;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.review-form button:hover {
  background-color: #218838;
}

@media (min-width: 768px) {
  .reviews-section {
    padding: 40px;
  }

  .review-form {
    padding: 30px;
  }

  .review {
    padding: 30px;
  }
}

/* General Styles */
.about-section {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.about-container.reverse {
  flex-direction: row-reverse;
}

.about-image {
  flex: 1 1 50%;
  max-width: 50%;
}

.about-image img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

.about-content {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 40px;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about-image,
  .about-content {
    max-width: 100%;
  }

  .about-content {
    padding: 20px;
  }
}
